@import url("./Border/style.css");

.add-new-board {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 180px;
  height: 44px;
  font-size: 16px;
  background-color: #0c2196;
  color: white;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}

.add-new-board:hover {
  background-color: #1c32b4;
}
.project-name {
  font-size: 1.4rem;
  font-weight: 500;
  overflow-wrap: anywhere;
}

@media screen and (max-width: 768px) {
  .add-new-board {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    height: 44px;
    font-size: 16px;
    background-color: #0c2196;
    color: white;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
  }
}

@media screen and (max-width: 576px) {
  .add-new-board {
    width: 80px;
    height: 35px;
    font-size: 0px;
    padding: 20px;
    background-image: url(/imgs/newBoard.svg);
    background-repeat: no-repeat;
    background-position: 40px;
    background-size: 36px;
    margin-right: -10px;
  }
  .add-new-board img {
    height: 16px;
    margin-left: -21px;
  }
  .project-name {
    font-size: 1rem;
    font-weight: 500;
  }
  .edit-project-name-input {
    font-size: 1rem;
    position: relative;
    height: 30px;
  }
  .error-message {
   top:-16px;
   font-size: 10px;
  }
}
